body {
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;	
  padding-left: 10px;
  padding-right: 10px;
  color: #3D413E;
  text-shadow: 1px 1px 1px whitesmoke: ;
  background: linear-gradient(#BDDBCF, #BECFCA, #A8D9CA, #67A59B) no-repeat center fixed; 
  max-width: 600px;
  margin: 10px auto; /* to overall center website */
}

section {
	padding-top: 15px;
}

.title-center {
	text-align: center;
}

h2 {
	text-align: center;
	text-shadow: 1px 1px 1px honeydew;
}

footer {
	margin-left: 5px;
	text-shadow: 1px 1px 1px honeydew;
}

img {
	width: 75px;
	height: 75px;
	margin-right: 10px;
}

.form-center {
	border-radius: 20px;
	border-color: #F0FEFC;
	background: #AAE4CD;  /*linear gradient causes hover issues on ME */
	box-shadow: 0 7px 4px #777;
}

h1 {
	display: inline-block; /* so image can align next to this title */
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	transition: 1s;
	vertical-align: top;	/* so heading vertically centers with image */
}

#loginerror, #signup-error, #entry-error {
	font-weight: bold;
	font-style: italic;
}

#signup-success {
	font-style: italic;
}

.totalTitle {				/* For alignment in homepage. Use a table next time? */
	display: inline-block;
	margin-left: 0;
	width: 205px;
	margin-bottom: 2px;
}

.totalNum {
	display: inline-block;
	width: 150px;
	margin-left: 0px;
}

.expDate {			/* So dates will align with total title above them */
    display: inline-block;
    margin-left: 0;
    width: 90px;
}

.expDescr {					
	display: inline-block;
	margin-left: 0;
	width: 205px;
	overflow-wrap: break-word; /* so text description stays within width */
}

.expCost {
	display: inline-block;
	width: 150px;
	margin-left: 0px;
}

input, select {
	border-radius: 40px;
	padding: 5px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 2px #777;
}

button, input, select {
	font-family: 'Abel', sans-serif;
	letter-spacing: 0.5px;	
	border: none;
}

input:focus {
    background-color: #FFFFDD;
}

button {
	border-radius: 40px;
	background-color: #95E2D3;
	padding: 5px;
	border: 1px solid #5A9287;
	box-shadow: 0 2px 2px #777;
	text-shadow: 1px 1px 1px silver;
}

button:hover, #loginBtn:hover, #signupBtn:hover, #regBtn:hover, #entryBtn:hover, #cancelBtn:hover, #abortBtn:hover, 
#entryBtn-2:hover, #abortBtn-2:hover {
	background-color: #59B67F;
	color: white;
	transition: 0.3s;
	text-decoration: underline;
}

input:focus, button:focus, #loginBtn:focus, #signupBtn:focus, #regBtn:focus, #entryBtn:focus, #cancelBtn:focus, 
#abortBtn:focus, #entryBtn-2:focus, #abortBtn-2:focus, select:focus {
	outline: 2px dashed #4E9874;
}

.delBtn {
	margin-left: 5px;
}

#loginBtn, #signupBtn, #cancelBtn, #regBtn, #entryBtn, #abortBtn, #entryBtn-2, #abortBtn-2 {
	margin-top: 10px;
	border: 1px solid #5A9287;
	background-color: #95E2D3;
	padding: 5px;
	border-radius: 40px;
	box-shadow: 0 2px 2px #777;
	text-shadow: 1px 1px 1px silver;
}

.signoutBtn {
	float: right;
	margin-top: -15px;
}

#loginBtn, #regBtn, #entryBtn, #entryBtn-2 { /* For style to display on mobile phones */
	-webkit-appearance: none;
}

/* homepage- each list item */
p {
	border-radius: 10px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 3px;
	background: linear-gradient(#FEFFFF, #E7F7F2);
	box-shadow: 0 2px 1px #777;
}

#newExp {
	margin-top: 15px;
}

#username {				/* logged in as */
	text-align: right;
	margin-bottom: 5px;
	text-shadow: 1px 2px 2px #aaa;
}

/* login, sign up, & new entry form input boxes */
#login-name, #firstname-reg, #lastname-reg, #username-reg, #category, #date, #description, #category-2, 
#date-2, #description-2 {	
	margin-bottom: 5px; 
}

.expense-list {
	list-style: none;
	padding-left: 0;
}

.expense-list > li {
	font-weight: bold;
	border-bottom: 1px solid #6C786F;
	margin-bottom: 10px;
	padding-bottom: 3px;
}

span {
	font-weight: bold;
	margin-left: 10px;
	margin-right: 15px;
}

form label {
	display: block;
}

form button {
	display: block;
	margin-top: 5px;
}

@media screen and (min-width: 354px) {
	/* For alignment in homepage */
	.totalTitle {				
		display: inline-block;
		margin-left: 0;
		width: 160px;
		margin-bottom: 2px;
	}

	.totalNum {
		display: inline-block;
		width: 220px;
		margin-left: 0px;
	}

	.expDescr {
		display: inline-block;
		margin-left: 0;
		width: 320px;
		overflow-wrap: break-word;
	}

	.expCost {
		display: inline-block;
		width: 205px;
	}
}

@media screen and (min-width: 469px) {
	.totalTitle {				
		display: inline-block;
		margin-left: 0;
		width: 305px;
		margin-bottom: 2px;
	}

	.totalNum {
		display: inline-block;
		width: 100px;
		margin-left: 0px;
	}

	.expDescr {
		display: inline-block;
		margin-left: 0;
		width: 195px;
		overflow-wrap: break-word;
	}

	.expCost {
		display: inline-block;
		width: 100px;
	}
}

@media screen and (min-width: 501px) {
	.totalNum {
		display: inline-block;
		width: 110px;
		margin-left: 0px;
	}

	.expCost {
		display: inline-block;
		width: 110px;
	}
}

@media screen and (min-width: 511px) {
	.totalNum {
		display: inline-block;
		width: 140px;
		margin-left: 0px;
	}

	.expCost {
		display: inline-block;
		width: 140px;
	}
}

@media screen and (min-width: 541px) {
	.totalTitle {				
		display: inline-block;
		margin-left: 0;
		width: 290px;
		margin-bottom: 2px;
	}

	.totalNum {
		display: inline-block;
		width: 100px;
		margin-left: 0px;
	}

	.expCost {
		display: inline-block;
		width: 100px;
	}

	.expDescr {
		display: inline-block;
		margin-left: 0;
		width: 175px;
		overflow-wrap: break-word;
	}

}