body {
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;	
  padding-left: 10px;
  padding-right: 10px;
}

button, input {
	font-family: 'Abel', sans-serif;	
}

#username {
	margin-top: -25px;
	margin-bottom: 20px;
}

#loginerror {
	font-weight: bold;
	font-style: italic;
}

#signup-error {
	font-weight: bold;
	font-style: italic;
}

#signup-success {
	font-style: italic;
}

#entry-error {
	font-weight: bold;
	font-style: italic;
}

.totalTitle {				/* For alignment. Use a table next time */
	display: inline-block;
	margin-left: 0;
	width: 130px;
}

.totalNum {
	display: inline-block;
	width: 100px;
}

.expDate {			/* So dates will align with total title above them */
    display: inline-block;
    margin-left: 0;
    width: 115px;
}

.expDescr {					/* mobile responsive FIRST! */
	display: inline-block;
	margin-left: 0;
	/*min-width: 200px;*/
}

.delBtn {
	margin-left: 10px;
}

#loginBtn, #signupBtn, #cancelBtn, #regBtn, #entryBtn, #abortBtn, #entryBtn-2, #abortBtn-2{
	margin-top: 10px;
}

#signoutBtn {
	float: right;
	margin-top: -15px;
}

#newExp {
	/*display: inline-block;*/
/*   	text-align: left;
	margin-top: -15px;*/
}

#username {
	margin-top: 10px;
	text-align: right;
}

.expense-list {
	list-style: none;
	padding-left: 0;
}

.expense-list > li {
	font-weight: bold;
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
}

span {
	font-weight: bold;
	margin-left: 10px;
	margin-right: 15px;
}

div > p {
	font-weight: normal; /* Don't bold individual amounts */
}

form label {
	display: block;
}

form button {
	display: block;
	margin-top: 5px;
}